<%- include('header') -%>
<!-- Navigational bar -->
<%- include('navbar') -%>
<!-- Header above main section -->
<section>
    <!-- Main section with contents -->
    <div id="main section" class="w3-row">
        <!-- Section for the registration form -->
        <div class="w3-col s12 m12 l12">
            <div class="w3-margin">
                <h2>A Password Reset message had been sent to your account!</h2>
                <p>Upon recieveing it, click on the link, and you'll be taken to the password reset page.</p>
                <a href="reset.ejs"><p><b>CICK ME</b> Mivel email egyenlore nem megy ki ide hardcodeolom a passowrd reset linket is</p></a>
                <a href="login.ejs"><button class="w3-btn w3-hover-black w3-black">Take me back</button></a>
            </div>

        </div>
    </div>

<%- include('footer') -%>